<div class="card mb-4">
    <div class="card-body">
        <div class="row">
            <div class="col-lg-6">
                {% a display_for:Model.ContentItem %}
                    <img class="img-fluid rounded" style="max-height: 20rem;" src="{{ Model.ContentItem.Content.News.Image.Paths | asset_url }}" alt="" />
              {% enda %}
            </div>

            <div class="col-lg-6">
                {% a display_for:Model.ContentItem %}
                <h2 class="card-title">{{ Model.ContentItem.Content.TitlePart.Title }}</h2>
                {% enda %}
                <p class="card-text">{{ Model.ContentItem.Content.MarkdownBodyPart.Markdown | markdownify | truncatewords: 30 |raw }}</p>
                {% a display_for:Model.ContentItem %}
                <span class="btn btn-primary">详细 &rarr;</span>
                {% enda %}
            </div>
        </div>
    </div>
    <div class="card-footer text-muted">
        {{ Model.ContentItem.ContentItem.CreatedUtc | date: "%D" }} <!--by {{ Model.ContentItem.ContentItem.Author }}-->
    </div>
</div>